{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>DELETE CONFIRMATION</title>
{% endblock %}

{% block content %}
<div class="container jumbotron">
    <form method="post">
        {% csrf_token %}
        <center>
        <p>DO YOU REALLY WANT TO DELETE <span style="color:red;">{{obj.eid}} {{obj.ename}}  {{obj.egender}}  {{obj.eskills}} </span> RECORD?</p>
        <button type="submit"  class="btn btn-danger">YES</button>
        <button class="btn btn-warning"><a href="{% url 'showemp_url' %}">NO</a></button>
        </center>
    </form>
</div>
{% endblock %}